<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> JS DOM HTML </title>
</head>
<body>
    <h2 id="sub-title"> Welcome to this page! </h2>

    <img style="width: 40%;" id="img01" src="../assets/github-logo.png" >

    <p> The date time is: <a id="datetime"> time </a> </p>
    <p id="comment01"> This is a new comment! </p>

    <a href="https://github.com/" target="blank"> link </a> <br>

    <script async defer src="../../src/tutorial-dom/script04-DOM-HTML.js"></script>
</body>
</html>
