<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Part 02 - Web APIs Forms </title>
</head>
<body>
    <input id="id-01" type="number" min="100" max="500" required>
    <button onclick="myFunction()"> ok </button>

    <p id="demo"></p>

    <script async defer src="../../src/tutorial-web/script02-Web-API-Forms.js"></script>
</body>
</html>
