<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> JS AJAX ASP Example </title>
</head>
<body>
    <p> Start typing a name in the input field below: </p>
    <p> Suggestions: <span id="txtHint"></span> </p>

    <form>
        First name: <input type="text" onkeyup="showHint(this.value)">
    </form>

    <script async defer src="../../src/tutorial-ajax/script07-AJAX-ASP.js"></script>
</body>
</html>
