<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> JS AJAX Request </title>
</head>
<body>
    <div id="demo">
        <h2> AJAX GET & POST </h2>

        <h4> Show a document</h4>
	
	    <button type="button" onclick="showData()">
	    	Change Content
	    </button>

        <h4> Send a document </h4>

        <button type="button" onclick="sendData()">
            Change Content
        </button>
    </div>

    <script async defer src="../../src/tutorial-ajax/script03-AJAX-Request.js"></script>
</body>
</html>
